<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--><h1 ng-bind="title"></h1>

<p ng-bind="message"><strong></strong></p>
Date: <input type="text"><br>
Item: <input ng-model="taskadd" type="text" ng-enter="addItem()" ><br>
<button ng-click="addItem()">Add</button>
<!--        <input ng-dblclick="makeIt(x)" type="text" ng-model="x"/>
        <span ng-click="strikeIt(x)">Complete</span>-->
<ol>
    <li ng-repeat="x in tasks" ng-class="{'strikeOut': isChecked}">
        <input type="checkbox"
               ng-model="isChecked"
               />
        <span ng-bind="x"></span><a ng-click="delItem(x)">[X]</a>
    </li>
</ol>

<!--Sources
http://jsfiddle.net/mrajcok/eTTZj/
-->
