<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1 ng-bind="title"></h1>

<label ng-bind="message" for="selectcity"></label><select name="selectcity" ng-model="selected" ng-options="key as value for (key , value) in cities"></select>
<button>Go!</button>


<input type="radio" ng-model="tempformat" value="C"> Celcius
<input type="radio" ng-model="tempformat" value="F"> Farenheit
<div>
    <weather-today info="weather"></weather-today>
    <weather-six info="weather16"></weather-six>
</div>
<hr>
<h2>Hour-by-hour forecast</h2>
<!--<my-customer></my-customer>-->
<div simple-chart chart-data="lineData"></div>




<!--http://briantford.com/blog/angular-d3-->